<!-- Side nav -->
<div class="col-md-3 zero-padding" ><!-- style="position: fixed;" -->
	<div class="side_nav">
		<div class="filters-pad">

			<!-- Search by name -->
		    <form class="form-inline">
			  <div class="form-group mx-sm-3">
			    <input type="password" class="form-control" id="inputPassword2" placeholder="Search by Name">
			  </div>
			  <button type="submit" class="btn btn-primary">Search</button>
			</form>

		    <!-- or divider -->
			<div class="col-md-12 or-container">
				<hr class="or-hr">
				<div class="or">OR</div>
			</div>
			

			<!-- Filters -->
			<center>
	          <label for="filters" class="filters-label">
	            <i class="fa fa-sliders fa-lg" aria-hidden="true" ></i>
	            Filters
	          </label>
	        </center>

			<!-- Filters-form-->
			<form>
			  	<div class="form-group row filter_padding">
			  		<!-- Brand -->
				    <label for="staticEmail" class="col-sm-3 col-form-label">Brand:</label>
				    <div class="col-sm-9">
				      	<select class="form-control" id="exampleFormControlSelect1">
					      	<option selected disabled>Choose Brand</option>
				            <option value="1">One</option>
				            <option value="2">Two</option>
				            <option value="3">Three</option>
					    </select>
				    </div>
				  </div>
					<!-- Price -->
				  <div class="form-group row filter_padding">
				    <label for="staticEmail" class="col-sm-3 col-form-label">Price:</label>
				    <div class="col-sm-9">
				      	<rzslider class="custom-slider"
		                    rz-slider-model="PriceSlider.minValue"
		                    rz-slider-high="PriceSlider.maxValue"
		                    rz-slider-options="PriceSlider.options">
		                      
		                </rzslider>
				    </div>
				 </div>
				<!-- RAM -->
				 <div class="form-group row filter_padding">
				    <label for="staticEmail" class="col-sm-3 col-form-label">RAM:</label>
				    <div class="col-sm-9">
				      	<select class="form-control" id="exampleFormControlSelect1">
						    <option selected disabled>Choose RAM</option>
					        <option value="1">One</option>
					        <option value="2">Two</option>
				            <option value="3">Three</option>
					    </select>
				    </div>
				  </div>
				<!-- Memory -->
				 <div class="form-group row filter_padding">
				    <label for="staticEmail" class="col-sm-3 col-form-label">Memory:</label>
				    <div class="col-sm-9">
				      	<select class="form-control" id="exampleFormControlSelect1">
					      	<option selected disabled>Choose Internal Memory</option>
				            <option value="1">One</option>
				            <option value="2">Two</option>
				            <option value="3">Three</option>
					    </select>
				    </div>
				  </div>
					<!-- submit button -->
				  <div class="form-group filter_padding">
				  	<div class="btn btn-success col-md-12 form-control">Apply and Search</div>
				  </div>
			</form>


		</div>
	</div>
</div>
<div class="col-md-9 zero-padding">	
	dsdc
</div>


